.btn-primary {
    z-index: 1;
    position: relative;
    font-size: inherit;
    font-family: inherit;
    color: $white;
    padding: 0.5em 1em;
    outline: none;
    border-color: $blue;
    border-width: medium;
    background-color: $blue;
    border-radius: 0.25rem;
}

.btn-primary::before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $primary;
    transform-origin: center right;
    transform: scaleX(0);
    transition: transform 0.25s ease-in-out;
    border-radius: 0.25rem;
}

.btn-primary:hover {
    cursor: pointer;
    background-color: $blue;
    border-color: $blue;
}

a.btn-primary:hover {
    border-radius: 0.25rem;
    color: $white;
}

.btn-primary:hover::before {
    transform-origin: center left;
    transform: scaleX(1);
}

.btn-primary.focus,
.btn-primary:focus {
    outline: 0;
    box-shadow: none;
    border: 2px solid $orange;
}

// Outline primary
.btn-outline-primary {
    z-index: 1;
    position: relative;
    font-size: inherit;
    font-family: inherit;
    color: $white;
    padding: 0.5em 1em;
    outline: none;
    border-color: $primary;
    border-width: medium;
    background-color: transparent;
    border-radius: 0.25rem;
}

.btn-outline-primary::before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $primary;
    transform-origin: center right;
    transform: scaleX(0);
    transition: transform 0.25s ease-in-out;
    border-radius: 0.25rem;
}

.btn-outline-primary:hover {
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: $primary;
    border-color: $primary;
}

a.btn-outline-primary:hover {
    border-radius: 0.25rem;
    color: $white;
}

.btn-outline-primary:hover::before {
    transform-origin: center left;
    transform: scaleX(1);
}

.btn-outline-primary.focus,
.btn-outline-primary:focus {
    outline: 0;
    box-shadow: none;
    border: 2px solid $orange;
}